@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

:root{
    --Grotesk-font: 'Space Grotesk', sans-serif;

    --Light_grayish_violet: hsl(270, 3%, 87%);
    --Dark_grayish_violet: hsl(279, 6%, 55%);
    --Very_dark_violet: hsl(278, 68%, 11%);
    --Red: hsl(0, 100%, 66%); /*input errors*/
    /*Linear gradient (active input border): hsl(249, 99%, 64%) to hsl(278, 94%, 30%)*/
}

*{
    padding: 0;
    margin: 0;
    font-family: var(--Grotesk-font);
    font-size: 18px;
    color: white;
}

html, body{
    overflow: hidden;
}

main{
    height: 100vh;
    width: 100vw;
    background-color: white;
    position: relative;
}

section{
    width: 100vw;
    padding: 0;
    margin: 0;
    background-color: transparent;
}

.imagem{
    height: 30vh;

    background-image: url(../images/bg-main-mobile.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

img#card-back{
    max-width: 340px;
    position: absolute;
    top: 10%;
    left: 12%;
}

p#CV{
    position: relative;
    top: 109px;
    left: 315px;
    font-size: 15px;
}

img#card-front{
    max-width: 340px;
    position: absolute;
    top: 16%;
    left: 5%;
}

img#logo{
    position: absolute;
    max-width: 70px;
    top: 19%;
    left: 8%;
}

p#card-number{
    position: relative;
    font-size: 25px;
    top: -3%;
    left: 12%;
}

p#name{
    position: relative;
    top: -1%;
    left: 12%;
    font-size: 12px;
}

p#date{
    position: relative;
    top: -2.5%;
    left: 72%;
    font-size: 12px;
}

.formulario{
    margin: 25px;
    margin-left: 40px;
    position: relative;
}

form{
    margin-top: 70px;
}

form > p > label{
    color: var(--Very_dark_violet);
}

form > p > input{
    border: solid 1px var(--Light_grayish_violet);
    color: gray;
    width: 80vw;
    height: 5vh;
    margin-top: 15px;
    margin-bottom: 20px;
}

form > p#expiration_date > input{
    width: 15vw;
}

form > P#cvc_number{
    position: absolute;
    top: 51.5%;
    left: 48%;
}

form > p#cvc_number > input{
    width: 35vw;
}

form > p#button > input, .formulario > div > input#button02{
    color: white;
    font-size: 20px;
    background-color: var(--Very_dark_violet);
    border: none;
    border-radius: 10px;
    margin-left: 25px;
    margin-top: 30px;
    width: 70vw;
    height: 5vh;
}

.formulario > div > input#button02{
    margin-top: 100px;
}

form > p#button:hover > input, .formulario > div > input#button02:hover{
    background-color: var(--Dark_grayish_violet);
    color: var(--Very_dark_violet);
}

div#final > img{
    margin-left: 105px;
    padding: 20px;
}

div#final > p{
    color: var(--Very_dark_violet);
    text-align: center;
    font-size: 35px;
    margin-left: -75px;
    margin-bottom: 20px;
}

div#final > p#phrase{
    color: gray;
    font-size: 18px;
}

::-webkit-scrollbar{
    width: 0;
    height: 0;
}